body {
  color: #111111;
  font-family: "Century Gothic", Helvetica, sans-serif;
}

a {
  color: #D96D00;
}

/* NAVIGATION BAR */
.nav {
  text-align: center;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  padding: 5px 10px;
  margin: auto;
  font-size: 16px;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.nav li.active {
  background: #111;
  border-radius: 3px;
  color: #fff;
}

.nav li.active a {
  color: white;
}

/* FOOTER */
footer a {
  text-decoration: none;
  border: none;
}

footer .divider_right {
  padding-right: 10px;
  border-right: solid thin #dddddd;
  margin-right: 10px;
}

footer .badges .vsp {
  float: left;
}

.copyright {
  font-size: 14px;
  padding: 5px 0;
}

#container {
  margin: auto;
  padding: 40px 30px 0;
  width: 100%;
  max-width: 980px;
  background: #fff;
}

.main_content {
  margin: 20px 0;
}

.logo {
  text-align: center;
}

.logo a {
  display: inline-block;
}

.logo img {
  margin: 0 auto;
}

/* ANNOUNCEMENTS SECTION */
.announcements {
  text-align: center;
  margin: auto;
  width: 60%;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.2em;
}

/* HOME PAGE IMAGE */
.map {
  margin: auto;
  width: 800px;
  overflow: hidden;
}

/* CONTENT */
.services_content li {
  display: inline;
  padding-right: 12px;
  text-align: center;
}

.services_content {
  width: 75%;
  margin: auto;
  padding: 10px 0 10px 30px;
  line-height: 1.2em;
  font-size: 16px;
  text-align: center;
}

.doctor_content li {
  list-style-type: disc;
  padding-bottom: 5px;
}

.hours li {
  padding: 3px 0;
}

/* misc properties */
.clear {
  clear: both;
}

.clear_right {
  clear: right;
}

.clear-left {
  clear: left;
}

.divider {
  border-bottom: 2px solid #111;
  padding: 15px 0;
}
