/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #111111;
  line-height: 1.2em;
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 14px;
}

span.hel {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #D96D00;
}

#container {
  margin: auto;
  padding: 50px 30px 0;
  width: 980px;
  background: #fff;
  border-top: 2px solid #011F42;
}

.main_content {
  margin: 10px 0 10px 0;
}

.logo {
  width: 345px;
  height: 85px;
  background: url("../images/logo.png") no-repeat;
  margin: auto;
  padding-bottom: 30px;
}

/*NAVIGATION BAR*/
.nav {
  margin-left: 120px;
  padding-bottom: 30px;
}

.nav ul {
  list-style-type: none;
  zoom: 1;
  overflow: hidden;
}

.nav li {
  padding: 5px 10px;
  margin: auto;
  font-size: 16px;
  background-color: pink;
  display: inline-block;
}

.nav li.active {
  background: #111;
  color: #fff;
  /*border-radius:3px;*/
}

.nav li.active a {
  color: white;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
}

/* ANNOUNCEMENTS SECTION */
.announcements {
  text-align: center;
  margin: auto;
  width: 60%;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.2em;
}

/* HOME PAGE IMAGE */
.image {
  margin: auto;
  width: 500px;
  overflow: hidden;
}

.image p {
  padding-bottom: 5px;
}

.map {
  margin: auto;
  width: 800px;
  overflow: hidden;
}

/* CONTENT */
.services_content li {
  display: inline;
  padding-right: 12px;
  text-align: center;
}

.services_content {
  width: 75%;
  margin: auto;
  padding: 10px 0 10px 30px;
  line-height: 1.2em;
  font-size: 16px;
  text-align: center;
}

.doctor_content li {
  list-style-type: disc;
  padding-bottom: 5px;
}

.title {
  font-weight: bold;
  padding: 0 0 10px 0;
  font-size: 1.15em;
}

.hours {
  padding: 12px 0 0 0;
}

.hours li {
  padding: 3px 0;
}

/* FOOTER */
footer {
  padding: 25px 0 30px 0;
  width: 980px;
  margin: auto;
  letter-spacing: .2em;
  line-height: 1.5em;
  text-align: center;
  font-size: 16px;
}

footer a {
  text-decoration: none;
  border: none;
}

.copyright {
  font-size: 13px;
  letter-spacing: 0;
  padding: 5px 0;
}

/* misc properties */
.clear {
  clear: both;
}

.clear_right {
  clear: right;
}

.clear-left {
  clear: left;
}

.divider {
  border-bottom: 2px solid #111;
  padding: 15px 0;
}

.divider_right {
  border-right: 1px solid #111;
  margin: 0 30px 0 30px;
}
