/* FOOTER */
footer{
  a{
    text-decoration:none;
    border:none;
  }
  .divider_right{
    padding-right: 10px;
    border-right: solid thin #dddddd;
    margin-right: 10px;
  }
  .badges{
    .vsp{
      float: left;
    }
  }
}

.copyright{
  font-size:14px;
  padding:5px 0;
}